.hero-container{
    width: 100%;
    background-color:#28282B;
    position: relative;
    
}
.hero-container img{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 65px;
    padding: 4px;
    border-radius: 10px;
}

.hero-container .hero-search-bar{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 50%;
    border-radius: 50px;
}

.hero-container .hero-search-bar form input{
    width: 80%;
    padding: 15px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    background: transparent;
    color: white;
}

.hero-container .hero-search-bar form button{
    padding: 5px 10px;
    border-radius: 100px;
    outline: 0;
    border: 0;
    display: none;
}
.hero-container .hero-search-bar form button:hover{
    cursor: pointer;
}



