.blogs-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 10px;
    gap: 1rem;
    margin-bottom: 100px;
    overflow: auto;
}
.blogs-container .blogs-left{
    background: #FFFFFF;
    width: 50%;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    
}
.blogs-container .blogs-left .blogs-left-content{
    overflow-x: auto;
}
.blogs-container .blogs-left .blogs-left-header{
    background: #C0C0C0;
    padding: 10px;
    text-align: center;border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.blogs-container .blogs-left .merch-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 2px;
}
.blogs-container .blogs-left .blogs-left-content #merch-img{
    width: 100px;
}

.blogs-container .blogs-right{
    width: 50%;
}

.blogs-container .blogs-right .blogs-right-header{
    text-align: left;
    text-decoration: underline;
    margin-bottom: 10px;
}

.blogs-container .blogs-right .blogs-right-content{
    overflow-x: auto;
}
.blogs-container .blogs-right .blogs-right-content form .form-img{
    justify-self: center;
}

.blogs-container .blogs-right .blogs-right-content form .form-class{
    margin: 10px;
    width: 80%;
}
.blogs-container .blogs-right .blogs-right-content form .form-class input{
    width: 100%;
    padding: 20px;
    outline: 0;
    padding: 1px solid #000000;
}

.blogs-container .blogs-right .blogs-right-content form .form-btn{
    width: 80%;
    margin: 10px;
}
.blogs-container .blogs-right .blogs-right-content form .form-btn button{
    width: 100%;
    background: #000000;
    color: #FFFFFF;
    padding: 10px;
    outline: 0;
    border: 0;
}
.blogs-container .blogs-right .blogs-right-content form .form-btn button:hover{
    cursor: pointer;
}
#merch-action{
    width: 30px;
}
#merch-action:hover{
    cursor: pointer;
}
#merch-actions{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

#prod-img{
    width: 20%;
}
#prod-img:hover{
    cursor: pointer;
}