.navbar-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:#28282B;
    padding: 10px;
    border-bottom: 0.5px solid gray;
    align-items: center;
}
.sidemenu{
    max-width: 100%;
    background-color: #28282B;
    height: 20vh;
    margin-top: 75px;
    z-index: 1;
}
.navbar-container img{
    max-width: 50px;
}


.navbar-container .navbar-left{
    display: flex;
}

.navbar-container .navbar-right{
    display: flex;
    gap: 2rem;
}

.navbar-container .navbar-right .navbar-user{
    display: flex;
}

.navbar-container .navbar-right .navbar-user h4{
    align-self: flex-end;
    color: white;
}



/*
black
#000000
  #36454F
  #28282B
  #1B1212
grey
  #B2BEB5
  #A9A9A9
  #D3D3D3
  #E5E4E2
  #C0C0C0

white
#FFFFFF
#EDEADE  
#FAF9F6  *
*/
