.beats-component-container{
    background-color: #282828;
    color: white;
    padding: 10px;
}

.featured-beats-container{
    display: flex;
    gap: 1rem;
}
.featured-beat-container{
    border: 1px solid gainsboro;
    padding: 10px;
    border-radius: 10px;
}
.featured-beat-container .featured-beat-details{
    display: flex;
    text-align: end;
}

#featured-beat-cart-image{
    max-width: 20%;
} 
#featured-beat-cart-image:hover{
    cursor: pointer;
}
.featured-beat-producer{
    margin-top: 5px;
}
#featured-beat-checkmark{
    max-width: 5%;
}
.featured-beat-container .featured-beat-thumbnail img{
    width: 100%;
    border-radius: 10px;
    max-height: 70vh;
}

.featured-beat-container .featured-beat-thumbnail img:hover{
    cursor: pointer;
}
.beats-component-container a{
    text-decoration: none;
    color: white;
}


